.kutuKategori{
    .kutuFooterKategori{display: none;}
    .kutuHeaderKategori{
        > span{ display: none; }
        .ems-prd-list-discountFlg{
            > span.checkbox{
                width: 100%;
                margin-right: 0;
                display: table;
                padding: 20px;
                border-bottom: 2px solid #e8eaf1;
                > span, > label{ display: table-cell; vertical-align: middle; }
                > label{
                    font-family: $medium;
                    color:#07639e;
                    font-size: 16px;
                }
            }
            &:empty{display: none;}
        }
    }
    .menuKategori{
        padding:15px 10px;
        li {
            position: relative;
            a{
                display: block;
                padding: 10px 30px 10px 10px;
            }
        }
        > li{
            > a{
                font-family: $medium;
                font-size: 14px;
                text-transform: uppercase;
                padding: 10px;
            }
            > ul{
                padding: 5px 10px;
                > li{
                    &.sub-items{
                        > b{
                            cursor: pointer;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 35px;
                            z-index: 1;
                            font-weight: normal;
                            &:after{
                                font-family: 'icomoon';
                                content: '\e918';
                                position: absolute;
                                top: 11px;
                                right: 0px;
                                width: 15px;
                                height: 15px;
                                font-size: 11px;
                                line-height: 15px;
                                text-align: center;
                            }
                        }
                    }
                    > a{
                        font-size:14px;
                        font-family: $regular;
                    }
                    > ul{
                        display: none;
                        padding-top: 5px;
                        > li{
                            > a{
                                font-size: 12px;
                            }
                            > a.active{
                                font-family: $bold;
                                color: #07639e;
                            }
                        }
                    }
                    &.s2.sub-items.opened{
                        > b{
                            &:after{
                                content: '\e914';
                            }
                        }
                        > a.active{
                            font-family: $bold;
                        }
                    }
                }
            }
        }   
    }
}
.kutuSolMenuTree{
    .sStylerMainWrp.sStylerWrp_select, .kutuHeaderSolMenuTree{display:none;}
    > a{ display:none; }
    .kutuBodyDefault{
        background: #fff;
        > ul{
            > li{
                b{display:none;}
                > a{
                    display: block;
                    background: $btnAlternateColor;
                    font-size: 25px;
                    font-family: $bold;
                    color: #fff;
                    padding: 16px 20px;
                }
                > ul{
                    @include flex();
                    @include flexDirection(column);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    > li{
                        text-align: left;
                        position: relative;
                        a{
                            display: block;
                            padding: 15px 10px;
                            font-family: $regular;
                            font-size: 16px;
                        }
                        &.act, &:hover{
                           color:$btnAlternateColor;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .kutuSolMenuTree{
        position:relative;
        .sStylerMainWrp.sStylerWrp_select{
            display: block;
        }
        > a{
            position:absolute;
            top: 5px;
            left: 10px;
            display: inline-block;
            font-size: 14px;
            font-family: "regular";
            line-height: 1;
            z-index: 1;
        }
        .kutuBodyDefault{display:none;}
    }
}