.kutuKategori{
    .kutuFooterKategori{display: none;}
    .kutuHeaderKategori{
        > span{ display: none; }
        .ems-prd-list-discountFlg{
            > span.checkbox{
                width: 100%;
                margin-right: 0;
                display: table;
                padding: 20px;
                border-bottom: 2px solid #e8eaf1;
                > span, > label{ display: table-cell; vertical-align: middle; }
                > label{
                    font-family: $medium;
                    color:#07639e;
                    font-size: 16px;
                }
            }
            &:empty{display: none;}
        }
    }
    .menuKategori{
        padding:15px 10px;
        li {
            a{
                display: block;
                padding: 5px 10px;
            }
        }
        > li{
            > a{
                font-family: $medium;
                font-size: 14px;
                text-transform: uppercase;
                padding: 10px;
            }
            > ul{
                padding: 5px 15px;
                li a {
                    font-size:12px;
                    &.active{
                        color: #07639e;
                        font-family: $medium;
                    }
                }
                > li{
                    > a.active{
                        font-size: 14px;
                        color: #1e2432;
                    }
                    > ul{
                        padding-top: 5px;
                        > li > a{ padding-top: 8px; padding-bottom: 8px; }
                    }
                }
            }
        }   
    }
}
.kutuSolMenuTree{
    .sStylerMainWrp.sStylerWrp_select, .kutuHeaderSolMenuTree{display:none;}
    > a{ display:none; }
    .kutuBodyDefault{
        background: #fff;
        > ul{
            > li{
                b{display:none;}
                > a{
                    display: block;
                    background: $btnAlternateColor;
                    font-size: 25px;
                    font-family: $bold;
                    color: #fff;
                    padding: 16px 20px;
                }
                > ul{
                    @include flex();
                    @include flexDirection(column);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    > li{
                        text-align: left;
                        position: relative;
                        a{
                            display: block;
                            padding: 15px 10px;
                            font-family: $regular;
                            font-size: 16px;
                        }
                        &.act, &:hover{
                           color:$btnAlternateColor;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .kutuSolMenuTree{
        position:relative;
        .sStylerMainWrp.sStylerWrp_select{
            display: block;
        }
        > a{
            position:absolute;
            top: 5px;
            left: 10px;
            display: inline-block;
            font-size: 14px;
            font-family: "regular";
            line-height: 1;
            z-index: 1;
        }
        .kutuBodyDefault{display:none;}
    }
}