.kutuOzellikFiltre{
    width: 100%;
    background: #fff;
    .kutuHeaderDefault, .kutuFooterDefault, .urunKiyaslamaOzellik_temizle { display: none; }
    .kutuBodyOzellikFiltre{
        > table{
            > tbody{
                > tr{
                    border-top: 2px solid #e8eaf1;
                }
            }
        }
    }
    .urunKiyaslamaOzellik_ozellik{
        .urunKiyaslamaOzellik_ozellikAd{
            cursor: pointer;
            position: relative;
            font-family: $medium;
            font-size: 14px;
            padding: 18px 20px 18px 20px;
            .mobile-element {
                display: none !important;
            }
        }
        .urunKiyaslamaOzellik_ozellikIcerik{ 
            padding: 0 20px 20px 20px;
            table{
                > tbody{
                    >{
                        tr{
                            > td{
                                width: auto;
                                text-align: left;
                                display: block;
                                a{
                                    display: block;
                                    padding:10px 5px 10px 25px;
                                    font-family: $regular;
                                    font-size: 16px;
                                    line-height: 15px;
                                    position: relative;
                                    &:before{
                                        font-family:'icomoon';
                                        content:'\e911';
                                        font-size: 15px;
                                        width: 15px;
                                        height: 15px;
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        margin-top: -7.5px;
                                    }
                                    &.link_selected{
                                        &:before{
                                            content:'\e91e';
                                            color: $coverBg;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.filtre-fiyat{
            .urunKiyaslamaOzellik_ozellikIcerik{
                padding-right: 45px;
                > table{display: none;}

            }
        }
    }
    .urunKiyaslamaOzellik_btnArama{display:none;}
}

.custom-range-slider{
    display: none;
}
.kutuOzellikFiltre{
    .demo{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction:column;
        -ms-flex-direction: column;
        flex-direction: column; 
        height: 80px;
        input{
            margin-bottom: 5px;
            text-align: center !important;
            font-family: $regular;
            font-weight: normal !important;
            color: #1e2432 !important;
            position: relative;
            height: 30px;
            left: 10px;
            line-height: 10px;
            padding: 10px !important;
        }
    }    
}

.ui-slider {
    display: block;
    position: relative;
    width: 100%; }
    .ui-slider a {
      width: 25px !important;
      height: 25px;
      border-radius: 25px;
      background-color: #10aac1;
      display: inline-block;
      position: absolute;
      &:before{
        content:'';
        position: absolute;
        top: 5px;
        left: 8px;
        width: 3px;
        height:15px;
        background: #fff;
      }
      &:after{
        content:'';
        position: absolute;
        top: 5px;
        right: 8px;
        width: 3px;
        height:15px;
        background: #fff;
      }
    }
    .ui-slider .ui-widget-header {
      left: 0;
      top: 8px;
      width: 95%;
      height: 7px;
      position: absolute;
      background: #e8eaf1;
      right: 0;
    }

.kutuOzellikFiltre{
    .urunKiyaslamaOzellik_ozellik{
        .urunKiyaslamaOzellik_ozellikIcerik{
            > table{
                overflow-x: hidden;
                max-height: 255px;
                display: block;
                tbody{
                    display:block;
                    > tr{
                        display: block;
                    }
                }
            }
        }
    }
    .urunKiyaslamaOzellik_ozellik ::-webkit-scrollbar{
        width: 5px;
    }
    .urunKiyaslamaOzellik_ozellik ::-webkit-scrollbar-track{
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #e8eaf1;
    }
    .urunKiyaslamaOzellik_ozellik ::-webkit-scrollbar-thumb{
        background: #10aac1;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    .urunKiyaslamaOzellik_ozellik ::-webkit-scrollbar-thumb:window-inactive{
        background: #10aac1; 
    }
}

.ems-custom-filtered{
    margin: 15px;
    padding: 15px;
    border: 1px solid #d3d3d3;
    &-header{
        span{
            padding: 15px 15px 20px 15px;
            display: block;
            text-align: center;
            font-family: $bold;
            font-size: 30px;
        }
    }
    &-body{
        max-width: 750px;
        margin: 0 auto;
        > ul{
            display: table;
            width: 100%;
            table-layout: fixed;
            > li{
                width: 33.333%;
                display: inline-block;
                vertical-align: top;
                padding: 0 10px 20px 10px;
                .title{
                    padding-bottom: 5px;
                    font-family: $regular;
                    font-size: 13px;
                    color: #bebebe;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
    &-left{
        padding-right:15px;
    }
    &-right{
        padding-left:15px;
    }
    &-footer{
        max-width: 480px;
        margin: 0 auto 15px auto;
        width: 100%;
        > div{
            width: 50%;
            display: inline-block;
            .btnDefault{
                padding: 10px 10px 10px 10px;
                &.btnDefaultFilteredEmpty{
                    background: #1a1718;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .kutuOzellikFiltre{
        .kutuBodyOzellikFiltre{
            max-width: 100%;
            > table{
                > tbody{
                    flex-flow: column;
                    > tr{
                        max-width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .ems-custom-filtered{
        border: none;
        margin: 0;
        &-header{
            span{
                font-size: 20px;
            }
        }
        &-body{
            max-width: 90%;
            > ul{
                > li{
                    width: 100%;
                }
            }
        }
        &-left{
            padding-right:10px;
        }
        &-right{
            padding-left:10px;
        }
        &-footer{
            max-width: 100%;
            margin: 0 auto;
            width: 100%;
            > div{
                width: 50%;
                display: inline-block;
                .btnDefault, .btnDefault span{
                    font-size: 14px;
                }
            }
        }
    }
    .ems-mobile{
        &-filter-sort{
            .ems-mobile-filter-btn{
                display: none;
            }
            .ems-mobile-filter-text{
                padding: 0 10px 10px 10px;
                span{
                    font-family: $medium;
                    font-size: 14px;
                }
            }
        }
        &-filter-buttons, &-filter-buttons{
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            display: table;
            a.btnDefault{
                display: table-cell;
                vertical-align: top;
                width: auto;
                min-width: 50%;
                &.btnDefaultMobFilterAction{
                    background: $btnColor;
                    color: #fff;
                }
            }
        }
        &-fixed-popup{
            position: fixed;
            width: 100%;
            height: calc(100vh - 120px);
            z-index: 20;
            bottom: -100%;
            left: 0;
            background: #fff;
            will-change: bottom;
            @include transition(bottom 333ms cubic-bezier(0.25, 0.1, 0.25, 1));
            padding-top: 30px;
        }
        &-sort-popup-body{
            position: absolute;
            height: calc(100% - 120px);
            width: 100%;
            max-height: calc(100% - 120px);
            overflow-x: hidden;
            ul{
                li{
                    a{
                        display: block;
                        font-size: 16px;
                        padding: 10px 10px 10px 40px;
                        position: relative;
                        &:before{
                            font-family: 'icomoon';
                            content: '\e911';
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            margin-top: -7.5px;
                        }
                    }
                    &.selected{
                        a{
                            &:before{
                                content: '\e91e';
                                color: $btnAlternateColor;
                            }
                        }
                    }
                }
            }
        }
    }

    body.sort-popup-ready{
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
    }

    body.sort-popup-animate{
        .ems-mobile{
            &-fixed-popup{
                bottom: 0;
            }    
        }
    }

}