.footer-explanation{
    max-width: 1200px;
    margin: 30px auto;
    padding-top: 30px;
    span.showLess, span.showMore{
        display: block;
        clear: both;
        cursor: pointer;
        color: #10aac1;
        font-family: $medium;
        color: $lDark;
        text-align: center;
    }
    .less, .more{
        border: 1px solid $border;
        padding: 30px;
        p{ margin-top: 0; }
    }
    .less{
        .showMore{margin-top: 20px;}
    }
    h1{
        margin: 0;
        font-weight: normal;
        font-size: 14px;
    }
}

.site-footer{
    background-color: #fff;
    padding-bottom: 50px;
    .footer-explanation{
        margin-bottom: 30px;
    }
    .ems-container{
        &-flex{
            @include flex();
            @include flexDirection(column-reverse); 
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
            .ems-col-2{
                background: #10aac1;
                padding-top: 25px;
                padding-bottom: 25px;
                .ems-container{
                    @include flex();
                    justify-content: space-between;
                    padding-left: 70px;
                    padding-right: 70px;
                }
                .master-pass{display: none;}
            }
        }
    }
    &-menu{
        > ul{
            @include flex();
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 30px;
            > li{
                width: 21.333%;
                flex-basis: 21.333%;
                margin-left: 1%;
                &:first-child{margin-left: 0;}
                a{
                    font-family: $regular;
                    padding:10px 0;
                    display: block;
                    &:hover{
                        color: $btnAlternateColor;
                    }
                }
                > ul{
                    margin-bottom: 20px;
                    > li{
                        &.title{
                            > a{
                                font-family: $medium;
                                font-size: 16px;
                                color: $btnAlternateColor;
                            }
                        }
                        &.title-3, &.title-2.title-black{
                            > a{ color: #1e2432; }
                        }
                        &.title-2{
                            > a{
                                color: #07639e;
                            }
                        }
                        &.title-3, &.title-2{
                            > a{
                                font-family: $medium;
                                font-size: 14px;
                                &:hover{color: $btnAlternateColor;}
                            }
                        }
                        > ul{
                            > li{
                                display: inline-block;
                                vertical-align: top;
                                @media screen and (min-width: $breakpointXSM){
                                    > a:after{
                                        content: ',';
                                        font-size: 14px;
                                        color: #3b4354;
                                        display: inline-block;
                                        padding-right: 3px;
                                    }
                                    &:last-child{
                                        > a:after{display: none;}
                                    }
                                    &.title-3, &.title-2{
                                        > a:after{display: none;}
                                    }
                                }
                                &.title-3, &.title-2{
                                    display: block;
                                    > a{
                                        font-family: $medium;
                                        font-size: 14px;
                                        &:hover{color: $btnAlternateColor;}
                                    }
                                }
                                &.title-3.title-lblack{
                                    > a{ color: #07639e; }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    &-social{
        width: 20%;
        @include flex();
        justify-content: space-between;
        align-items: center;
        > ul{
            width: 100%;
            @include flex();
            justify-content: space-between;
            align-items: center;
            > li{
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                a{
                    display: inline-block;
                    padding: 5px 0;
                    text-align: center;
                    i{
                        display: block;
                        font-size: 23px;
                        width: 23px;
                        &:before{
                            font-size: 23px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &-contact{
        width: 80%;
        @include flex();
        align-items: center;
        justify-content: flex-start;
        padding-right: 10px;
        ul{
            @include flex();
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 620px;
            li{
                width: 50%;
                max-width: 290px;
                a{
                    text-align: center;
                    display: block;
                    font-family: $medium;
                    font-size: 16px;
                    color: #fff;
                    background: $coverBg;
                    padding: 17px 5px 16px 5px;
                    border: 1px solid #fff;
                    img{display: none;}
                }
                &.first{ padding-left: 5px; }
                &.last{ padding-right: 5px; }
            }
        }
    }
    &-redirect{
        ul{
            @include flex();
            justify-content: flex-end;
            width: 100%;
            li{
                display: inline-block;
                vertical-align: middle;
                &:first-child{margin-right: 10px;}
            }
        }
    }
    &-copyright{
        text-align: left;
        padding: 40px 0 40px 0;
        @include flex();
        align-items: center;
        justify-content: space-between;
        > *{
            font-family: $regular;
            color: $lDark;
            font-size: 12px;
        }
        p{ margin:0 0; }
    }   
    .kutuBulten{
        background: $lGray;
        padding: 60px 0;
        .mod-newsletter{
            max-width: 1200px;
            margin: 0 auto;
            height: 150px;
            border-radius: 3px;
            @include cover-background(#{$baseHref + "/UPLOAD/BANNERS/covers/bulten-bg.png"});
            &-inner{
                overflow: hidden;
            }
            &-img{
                @include cover-background(#{$baseHref + "/UPLOAD/BANNERS/covers/dergi.png"});
                width: 100%;
                max-width: 270px;
                height: 135px;
                position: relative;
                top: 9px;
            }
            &-body{
                position: relative;
                .ems-message{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 20px;
                }
            }
            &-header{
                span{
                    span{
                        font-size: 18px;
                        font-family: $medium;
                        color: #fff;
                    }
                }
            }
            &-inner{
                @include flex();
                @include flexDirection(row);
                height: 100%;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                padding: 5px 30px;
                .ems-form{
                    &-inner{
                        .ems-field.text{
                            input{
                                min-width:320px;
                                text-align: left;
                                background: $fdYellow;
                                font-size: 16px;
                                font-family: $medium;
                                color: $lDark;
                                border: none;
                                height: 50px;
                                padding: 10px 20px;
                                line-height: 30px;
                            }
                        }
                        .ems-field.submit{
                            position: absolute;
                            top: 8px;
                            right: 10px;
                            a.btnDefault{
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            &-footer{display: none;}
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .footer-explanation{    
        .less, .more{padding: 20px;}
    }
    .site-footer{
        padding-bottom: 0;
        .footer-explanation{display: none;}
        .ems-container{
            &-flex{
                .ems-col-2 .ems-container{
                    padding-left: 40px;
                    padding-right: 40px;
                    max-width: 100%;
                }
            }
        }
        .kutuBulten{
            background: #fff;
            padding-top: 40px;
            padding-bottom: 40px;
            .mod-newsletter{
                height: auto;
                border-radius: 0;
                &-inner{
                    @include flexDirection(column);
                    justify-content: center;
                    align-items: inherit;
                    padding: 20px 10px 0 10px;
                    .ems-form{
                        &-inner{
                            .ems-field{
                                &.text{
                                    input{
                                        min-width: auto;
                                        width: 100%;
                                        padding-right: 45px;
                                    }
                                }
                                &.submit{
                                    top: 50%;
                                    margin-top: -15px;
                                    a.btnDefault{
                                        padding: 9px;
                                        span{
                                            font-size: inherit;
                                            i, i:before{
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &-header{
                    order: 1;
                    text-align: center;
                    padding-bottom: 20px;
                }
                &-img{
                    max-width: 135px;
                    height: 67px;
                    order: 10;
                    margin:15px auto 0 auto;
                    top: 1px;
                }
                &-body{
                    order: 5;
                }
            }
        }
        &-menu{
            padding-top: 20px;
            padding-bottom: 20px;
            ul{
                li{ a{ text-align: center; } }
            }
            > ul{
                @include flexDirection(column);
                padding-top: 0;
                > li{
                    width: 100%;
                    flex-basis: 100%;
                    margin-left: 0;
                    display: none;
                    margin-top: 10px;
                    &:first-child{margin-top: 0;}
                    &:nth-child(1),
                    &:nth-child(2),
                    &.mobile-element {display: block;}
                    > a.title-all-view{
                        font-family: $medium;
                        font-size: 14px;
                        color: #07639e;
                        span{
                            &:nth-child(2){display: none;}
                        }
                    }
                    > a.title-all{
                        font-family: $bold;
                        font-size: 14px;
                        color: #1e2432;
                        i{
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            &:before{color: #687083;}
                        }
                        span{
                            &:last-child{display: none;}
                        }
                    }
                    > ul{
                        margin-bottom: 0;
                        display: none;
                        &:first-child{display: block;}
                        &:nth-child(2){margin-top: 10px;}
                        > li{
                            &.title-3{
                                > a{font-family: $regular;}
                            }
                            > ul{
                                > li{ display: block; }
                            }
                        }
                    }
                    &.opened{
                        display: block;
                        > a.title-all-view{
                            > span{
                                &:nth-child(1){display: none;}
                                &:nth-child(2){display: block;}
                            }
                        }
                        > ul{
                            &:nth-child(2){display: block;}
                        }
                    }
                }
                &.opened{
                    > li{
                        display: block;
                        &.title-sev1{
                            a.title-all{
                                span{
                                    &:nth-child(2){display: none;}
                                    &:nth-child(3){display: inline-block;}
                                }
                                i:before{
                                    content:'\e905';
                                }
                            }
                        }
                    }
                }
            }
        }
        &-social{ width: 100%; }
        &-copyright{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            @include flexDirection(column);
        }
        &-redirect{
            ul{
                padding-top: 10px;
                padding-bottom: 10px;
                justify-content: center;
                li{
                    a{padding: 10px; display: block;}
                }
            }
        }
    }
}