.site-header{
    &-wrapper{
        width: 100%;
    }
    .ems-container-full{
        &-bottom{
            background: $coverBg;
            .ems-container{
                @include flex();
                @include flexDirection(row);
                justify-content: space-between;
                align-items: center;
            }
            .ems-col-2{
                position: inherit;
                flex-grow: 1;
                @include flex();
                @include flexDirection(row);
                justify-content: space-between;
                align-items: center;
                .balon{
                    position: relative;
                    top: 5px;
                    z-index: 3;
                    img{
                        max-width: 73px;
                    }
                }
            }
            .ems-col-3{
                @include flex();
                @include flexDirection(row);
                justify-content: space-between;
                align-items: center;
            }
        }
        &-menu{
            background: $whiteBg;
        }
    }
    .logo{
        h1{
            margin: 0;
            a{  
                display: block;
                img{
                    max-width: 200px;
                    max-height: 71px;
                }
            }
        }
    }
}


/* Black Friday Sayaç */
.countdown-active{
    .site-header{
        min-height:215px;
    }
}
.countdown-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:88px;
    background-image: url(/UPLOAD/BANNERS/countdown/countdownbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .countdown-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .countdown-icon{
            width:105px;
        }
        span.countdown-text{
            font-family: $medium;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            color: #ffffff;
        }
        div.countdown-timer{ 
            text-align: center;
            margin:10px;
            .countdown-item{
                position: relative;
                .countdown-value{
                    background: #fddb01;
                    font-family: $medium;
                    font-size: 19px;
                    font-weight: 900;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.4px;
                    color: #1e2432;
                    border-radius: 3px;
                    padding:5px;
                    min-width: 35px;
                }
                .countdown-type{
                    color:#fff;
                    font-weight: 300;
                    font-size: 11px;
                    margin-top: 5px;
                }
                i{
                    color:#fff;
                    position: absolute;
                    right: -10px;
                    top: 10px;
                    font-size: 15px;
                    font-family: "medium";
                }
            }
            &::nth-child(4){
                i{
                    display:none;
                }
            }
        }
        span{
            font-family: $medium;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 850px){
    .countdown-active{
        .site-header-wrapper{
            display:flex;
            flex-wrap: wrap;
            .for-countdown-2{
                order:2;
                .mbHeader{
                    position: unset;
                }
            }
            .for-countdown-1{
                order:1;
            }
            .for-countdown-3{
                order:3;
            }
        }
    }
    .mini-login-ready.countdown-active{
        .countdown-banner{
            display: none;
        }
    }
    .countdown-banner{
        background-image: url(/UPLOAD/BANNERS/countdown/countdown-mobile.png);
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        .countdown-text{
            &.mobile-element{
                font-size: 13px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.3px;
                color: #ffffff;
                margin:15px 0px 10px 0px;
            }
        }
        .countdown-wrapper{
            .countdown-icon{
                width:65px;
            }
        }
    }
}



/* Black Friday Sayaç Bitiş  */





.site-discount-banner{
    @include cover-background(#{$baseHref + "/UPLOAD/BANNERS/duyuru/header-duyuru.png"});
    @include flex();
    align-items: center;
    width: 100%;
    height: 45px;
    text-align: center;
    .ems-container{
        position: relative;
        > span, a{
            display: inline-block;
            font-size: 16px;
            font-family: $medium;
            color: #fff;
            strong{
                font-weight: normal;
                color: $fdYellow;
            }
        }
        .left-text{
            position: absolute;
            left: 10px;
            display: none;
            strong{
                @include transition(margin-left .2s ease-in-out); 
            }
            &:hover{
                strong{margin-left: 5px;}
            }
        }
    }
}

.nav-main {
    > ul{
        width: 100%;
        @include flex();
        /*justify-content: space-between;*/
        justify-content: space-evenly;
        align-items: center;
        > li{
            display: inline-block;
            vertical-align: middle;
            > a{
                font-family: $medium;
                font-size: 14px;
                display: block;
                text-align: center;
                padding: 10px;
                position: relative;
                overflow: hidden;
                text-transform: uppercase;
                &:after{
                    content:'';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom:-3px;
                    left: 0;
                    background: $coverBg;
                    @include transition(bottom .2s ease);
                }
                &:hover{
                    &:after{
                        bottom: 0;
                    }
                }
            }
            &.special, &.sub-menu-ozel{
                > a{color: $redColor;}
            }
        }
    }
}

.mbHeader{
    display: table;
    table-layout: fixed;
    width: 100%;
    padding:5px 10px 5px 10px;
    background: $coverBg;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    > div{
        width: 40px;
        height: 40px;
        text-align: center;
        padding:0 5px;
        display: table-cell;
        vertical-align: middle;
        > a{
            display: inline-block;
            position: relative;
            i, i:before{
                font-size: 20px;
            }
            i:before{
                color: #fff;
            }
        }
        &.mBurger{
            text-align: left;
        }
        &.mbLogo{
            width: auto;
            text-align: left;
            padding-right: 10px;
            padding-left: 0;
            a img{ max-width: 130px; }
            .mobile-element{
                display: none;
                font-family: $bold;
                font-size: 14px;
                max-width: 320px;
                margin: 0 auto;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &.mbBrands{
            padding-left: 0;
            padding-right: 0;
            img{max-width: 40px;}
        }
        &.mUserBtn{
            display: none;
            i{
                display: inline-block;
                vertical-align: middle;
                @include setTransform(rotate(-90deg));
            }
            i, i:before{
                font-size: 20px;
                color: #fff;
            }
        }
        &.mBackBtn{
            display: none;
            text-align: left;
            a{
                @include setTransform(rotate(-90deg));
            }
        }
        &.mbCart{
            a{
                b{
                    color: #000;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    z-index: 1;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: $fdYellow;
                    border-radius: 100%;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center
                }
            }
        }
    }
}

body.main-menu-ready{
    .vailMenu{ visibility: visible; opacity: .5; }
}

body.ems-login{
    .site-header .mobile-element-fixed-user div a{
        &.login{
            display: inline-block;
        }
        &.logout{
            display: none;
        }
    }
}
body.ems-logoff{
    .site-header .mobile-element-fixed-user div a{
        &.logout{
            display: inline-block;
        }
        &.login{
            display: none;
        }
    }
}

@media screen and (min-width: 850px){
    .site-header{
        min-height:169px;
        &-wrapper{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 21;
        }
        /*desktop sub menu*/
        .nav-main{
            > ul{
                > li{
                    flex-basis: 14.5%;
                    > a{
                        text-transform: uppercase;
                        max-height: 50px;
                        min-height: 50px;
                        display: table;
                        width: 100%;
                        > span{
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    &.sub-menu{
                        ul.sub-nav{
                            display: none;
                            @include flexDirection(row);
                            flex-wrap: wrap;
                            align-items:flex-start;
                            padding: 30px 30px 30px 60px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            max-width: 1280px;
                        }
                        &.elektronik{
                            ul.sub-nav{
                                > li{
                                    &:first-child{
                                        width: 74%;
                                        > ul{
                                            @include flex();
                                            @include flexDirection(row);
                                            flex-wrap: wrap;
                                            padding: 10px 0;
                                            > li{
                                                width: 33%;
                                                flex-basis: 33%;
                                                padding:6px 5px;
                                                margin-bottom: 2%;
                                                > a{
                                                    font-family: $medium;
                                                    font-size: 16px;
                                                    color: #07639e;
                                                    display: inline-block;
                                                    padding: 5px 0;
                                                    &:hover{
                                                        color: $btnAlternateColor;
                                                    }
                                                }
                                                > ul{
                                                    > li{
                                                        display: inline-block;
                                                        vertical-align: top;
                                                        > a{
                                                            display: block;
                                                            font-size: 14px;
                                                            color: #3b4354;
                                                            padding: 2px 0;
                                                            &:after{
                                                                content:',';
                                                                font-size: 14px;
                                                                color: #3b4354;
                                                                display: inline-block;
                                                                padding-right:3px; 
                                                            }
                                                            &:hover{
                                                                color: $btnAlternateColor;
                                                                text-decoration: underline;
                                                            }
                                                        }
                                                        &:last-child{
                                                            > a{
                                                                &:after{display: none;}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:last-child{
                                        width: 26%;
                                        > ul{
                                            padding: 5px 0;
                                            > li{
                                                margin-top: 12px;
                                                &:first-child{margin-top: 0;}
                                                a{
                                                    display: block;
                                                    position: relative;
                                                    overflow: hidden;
                                                    span{
                                                        position: absolute;
                                                        top: 30px;
                                                        left: 20px;
                                                        font-family: $medium;
                                                        color: #fff;
                                                        font-size: 20px;
                                                        z-index: 2;
                                                        width:70%;
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.market{
                            ul.sub-nav{
                                > li{
                                    &:first-child{
                                        width: 30%;
                                        > ul{
                                            > li{
                                                a{
                                                    display: inline-block;
                                                    line-height: 1.2;
                                                    font-family: $medium;
                                                    font-size: 16px;
                                                    color: #07639e;
                                                    padding:5px 10px;
                                                    &:hover{
                                                        color: $btnAlternateColor;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:last-child{
                                        width: 70%;
                                        > ul{
                                            @include flex();
                                            @include flexDirection(row);
                                            flex-wrap: wrap;
                                            padding: 5px 0;
                                            > li{
                                                width: 32.5%;
                                                flex-basis: 32.5%;
                                                padding:6px 3px;
                                                > a{
                                                    display: block;
                                                    position: relative;
                                                    overflow: hidden;
                                                    &:after{
                                                        content: '';
                                                        opacity: 0.3;
                                                        /*background-color: #1e2432;*/
                                                        width: 100%;
                                                        height: 100%;
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        display: block;
                                                    }
                                                    span{
                                                        position: absolute;
                                                        top: 30px;
                                                        left: 20px;
                                                        font-family: $medium;
                                                        color: #fff;
                                                        font-size: 20px;
                                                        z-index: 2;
                                                        width:70%;
                                                        text-transform: uppercase;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.ev-yasam{
                            ul.sub-nav{
                                > li{
                                    width: 25%;
                                    margin-bottom: 2%;
                                    padding-right: 20px;
                                    > a{
                                        font-family: $medium;
                                        font-size: 16px;
                                        color: #07639e;
                                        display: inline-block;
                                        padding: 5px 0;
                                        margin-bottom: 10px;
                                        &:hover{
                                            color: $btnAlternateColor;
                                        }
                                    }
                                    > ul{
                                        > li{
                                            display: inline-block;
                                            vertical-align: top;
                                            > a{
                                                display: block;
                                                font-size: 14px;
                                                color: #3b4354;
                                                padding: 2px 0;
                                                &:after{
                                                    content:',';
                                                    font-size: 14px;
                                                    color: #3b4354;
                                                    display: inline-block;
                                                    padding-right:3px; 
                                                }
                                                &:hover{
                                                    color: $btnAlternateColor;
                                                    text-decoration: underline;
                                                }
                                            }
                                            &:last-child{
                                                > a{
                                                    &:after{display: none;}
                                                }
                                            }
                                        }
                                    }
                                    &.desktop-element{
                                        padding-right: 10px;
                                        > a{margin-bottom: 0; padding-bottom: 0; padding-top: 0;}
                                    }
                                }
                            }
                        }
                        &.selected{
                            .sub-nav{
                                @include flex();
                            }
                        }
                    }
                    .sub-nav{
                        position: absolute;
                        left: 0;
                        width: 100%;
                        background: #fff;
                        z-index: 1;
                    }
                    .cover{
                        background-size:cover !important;
                        background-repeat:no-repeat !important;
                        background-position: top left !important;
                    }
                }
            }
        }
    }
    .ems-login{
        .site-header{
            .ems-container-full-bottom .ems-container{
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .nav-main{
        > ul{
            justify-content: space-around;
            >li {
                > a{
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){

    .site-discount-banner {
        display: none;
    }
    
    .site-header{
        .mobile-element-menu{
            height: 50px;
        }
        background: $coverBg;
        .ems-container-full{
            &-top, &-bottom{
                z-index: inherit;
            }
            &-bottom{
                .ems-container{
                    padding-left: 0;
                    padding-right: 0;
                    @include flexDirection(column);
                }
                .ems-col-1 {
                    display: none;
                }
                .ems-col{
                    width:100%;
                }
                .ems-col-2 {
                    width: 100%;
                    min-height: 50px;
                    position: fixed;
                    left: 0;
                    top: -100%;
                    z-index: 22;
                    @include transition(top 333ms cubic-bezier(0.25, 0.1, 0.25, 1));
                    flex-direction: inherit;
                    justify-content: inherit;
                    align-items: inherit;
                    flex-grow: inherit;
                    display: block;
                }
                .ems-col-3{
                    @include flex();
                    @include flexDirection(row);
                    justify-content: space-evenly;
                    background: #0e9eb4
                }
            }
            &-menu{
                position: fixed;
                top: 0;
                left: -110%;
                z-index: 25;
                width: 100%;
                height: 100%;
                will-change: left;
                @include transition(left 333ms cubic-bezier(0.25, 0.1, 0.25, 1));
                .ems-container{
                    max-width: 100%;
                    position: inherit;
                    padding-left: 0;
                    padding-right: 0;
                }
                .mobile-element{
                    &-user-login{
                        background: #0e9eb4;
                        ul{
                            @include flex();
                            @include flexDirection(row);
                            justify-content: center;
                            align-items: center;
                            min-height: 70px;
                            li{
                                a.ems-mini-login-btn{
                                    padding-top:0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                    &-close-menu{
                        ul{
                            li{
                                a{
                                    display: inline-block;
                                    padding: 17px 20px 16px 20px;
                                    span, i{
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                    span{
                                        font-size: 16px;
                                        font-family: $medium;
                                    }
                                    i{
                                        margin-right: 10px;
                                    }
                                    i, i:before{
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                    &-corporate{
                        > ul{
                            padding-top: 17px;
                            padding-bottom: 17px;
                            border-top:1px solid $border;
                            > li{
                                > a{
                                    display: block;
                                    text-align: left;
                                    font-family: $medium;
                                    font-size: 16px;
                                    padding: 18px 40px 18px 20px;
                                    position: relative;
                                    i{
                                        width: 25px;
                                        height: 25px;
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                        background: $darkBlack;
                                        border-radius: 3px;
                                        margin-top: -12.5px;
                                        line-height: 25px;
                                        text-align: center;
                                        &:after{
                                            font-family: 'icomoon';
                                            content:'\e918';
                                            font-size:11px;
                                            color: #fff;
                                        }   
                                    }
                                }
                                > ul{
                                    height: 0;
                                    max-height: 0;
                                    overflow: hidden;
                                    > li {
                                        > a{
                                            display: block;
                                            font-family: $regular;
                                            font-size: 12px;
                                            padding:10px 20px;
                                        }
                                    }
                                }
                                &.selected{
                                    > a{
                                        i{
                                            &:after{
                                                content:'\e914';
                                            }
                                        }
                                    }
                                    > ul{
                                        height: auto;
                                        max-height: inherit;
                                        overflow: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-main ul li a{ transition: none; }

    .nav-main{
        width: 100%;
        height: calc(100% - 120px);
        position: fixed;
        bottom: 0;
        overflow: auto;
        background: #fff;
        > ul{
            display: block;
            justify-content: inherit;
            padding-top: 10px;
            padding-bottom: 10px;
            > li{
                display: block;
                > a{
                    text-align: left;
                    font-size: 16px;
                    padding: 17px 40px 16px 20px;
                    &:after{
                        display: none;
                    }
                    &:before{
                        font-family: 'icomoon';
                        content:'\e903';
                        position: absolute;
                        top: 50%;
                        background: none;
                        right: 20px;
                        width: 15px;
                        height: 15px;
                        color: #d8d8d8;
                        font-size: 15px;
                        margin-top: -7px;
                    }
                }
                &.sub-menu-ozel{
                    > a{
                        &:after{ color: #d8d8d8; }
                    }
                }
                &.sub-menu{
                    .sub-nav{
                        li{
                            ul{
                                li{
                                    a{
                                        font-family: $medium;
                                        font-size: 14px;
                                        padding: 17px 30px 17px 30px;
                                        display: block;
                                        border-top: 1px solid #f3f5f9;
                                        position: relative;
                                        .cover{display: none;}
                                    }
                                    &:first-child{
                                        a{border-top:none;}
                                    }
                                }
                            }
                        }
                        /* Mobile Menu İmage bulunan kategorilerin gizlenmesi.  */
                        > li{
                            &:nth-child(2){
                                display: none;
                            }
                        }
                    }
                }
                > ul.sub-nav{
                    display: none;
                    > li {
                        > ul{
                            > li {
                                > ul{
                                    display: none;
                                }
                            }
                        }
                        > ul{
                            > li {
                                &.selected{
                                    > ul{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                &.selected{
                    > ul.sub-nav{
                        display: block;
                    }   
                }
                &.sub-menu.market{
                    > ul.sub-nav{
                        > li{
                            &:last-child{
                                > ul > li{
                                    > a{
                                        border-top: 1px solid #f3f5f9;
                                    }
                                }
                            }
                        }
                    }
                }
                &.sub-menu.elektronik {
                    > ul.sub-nav{
                        > li{
                            > ul{
                                > li{
                                    > a{
                                        &:before{
                                            font-family: 'icomoon';
                                            content:'\e903';
                                            position: absolute;
                                            top: 50%;
                                            background: none;
                                            right: 20px;
                                            width: 15px;
                                            height: 15px;
                                            color: #d8d8d8;
                                            font-size: 15px;
                                            margin-top: -7px;
                                        }
                                    }
                                    &:first-child, &.selected{
                                        > a{border-top:none;}
                                    }
                                }
                            }
                            &:last-child{
                                display: none;
                                > ul {
                                    > li:first-child{
                                        > a{
                                            border-top: 1px solid #f3f5f9;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.sub-menu.ev-yasam {
                    > ul.sub-nav{
                        > li.sub-menu{
                            > a{
                                font-family: $medium;
                                font-size: 14px;
                                padding: 18px 30px 17px 30px;
                                display: block;
                                position: relative;
                                border-top: 1px solid #f3f5f9;
                                &:before{
                                    font-family: 'icomoon';
                                    content:'\e903';
                                    position: absolute;
                                    top: 50%;
                                    background: none;
                                    right: 20px;
                                    width: 15px;
                                    height: 15px;
                                    color: #d8d8d8;
                                    font-size: 15px;
                                    margin-top: -7px;
                                }
                            }
                            &:first-child{
                                > a{
                                    border-top: none;
                                }
                            }
                            > ul{
                                display: none;
                            }
                            &.selected{
                                > a{
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    background: #0e9eb4;
                                    z-index: 1;
                                    color: #fff;
                                    border-top: none;
                                    padding-left: 40px;
                                    padding-right: 40px;
                                    text-align: center;
                                    &:after{
                                        display: none;
                                    }
                                    &:before{
                                        font-family: 'icomoon';
                                        content:'\e901';
                                        position: absolute;
                                        top: 50%;
                                        left: 15px;
                                        background: none;
                                        width: 15px;
                                        height: 15px;
                                        color: #d8d8d8;
                                        font-size: 15px;
                                        margin-top: -7px;
                                    }
                                }
                                > ul{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    nav[data-level="1"], nav[data-level="2"], nav[data-level="3"]{
        height: calc(100% - 50px);
    }
    nav[data-level="1"]{
        > ul {
            > li{
                &.sub-menu.selected{
                    > a{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        background: #0e9eb4;
                        z-index: 1;
                        color: #fff;
                        border-top: none;
                        padding-left: 40px;
                        padding-right: 40px;
                        text-align: center;
                        &:after{
                            display: none;
                        }
                        &:before{
                            font-family: 'icomoon';
                            content:'\e901';
                            position: absolute;
                            top: 50%;
                            left: 15px;
                            background: none;
                            width: 15px;
                            height: 15px;
                            color: #d8d8d8;
                            font-size: 15px;
                            margin-top: -7px;
                        }
                    }   
                }
            }
        }
    }
    nav[data-level="2"]{
        > ul {
            > li{
                &.sub-menu.selected{
                    > a { display: none; }
                    > ul{
                        > li{
                            > ul{
                                > li{
                                    &.selected{
                                        > a{
                                            position: fixed;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            background: #0e9eb4;
                                            z-index: 1;
                                            color: #fff;
                                            border-top: none;
                                            padding-left: 40px;
                                            padding-right: 40px;
                                            text-align: center;
                                            &:after{
                                                display: none;
                                            }
                                            &:before{
                                                font-family: 'icomoon';
                                                content:'\e901';
                                                position: absolute;
                                                top: 50%;
                                                left: 15px;
                                                background: none;
                                                width: 15px;
                                                height: 15px;
                                                color: #d8d8d8;
                                                font-size: 15px;
                                                margin-top: -7px;
                                            }
                                        }   
                                    }
                                }
                                
                            }
                        }
                    }   
                }
            }
        }
    }

    body.ems-login{
        .site-header{
            .mobile-element-user-login{
                ul li.login-hidden{ display:none; }
            }
        }
    }
    body.ems-logoff{
        .site-header{
            .mobile-element-user-login{
                ul li.logoff-hidden{ display:none; }
            }
        }
    }

    body.mobi-menu-ready, body.mobi-login-ready{
        overflow:hidden;
        position: fixed;
        top: 0;
        width: 100%; 
    }

    body.mobi-menu-animate{
        .site-header{
            .ems-container-full{
                &-menu{
                    left: 0;
                }
            }
        }
    }

    body.ems-login.mobi-login-ready{
        .mod-mini-login-body .sub.login{
            display: block;
        }
    }

    body.ems-logoff.mobi-login-ready{
        .site-header .ems-col.right{
            top: 70px;
        } 
        .mod-mini-login-body .sub.logoff{
            display: block;
        }
    }

}


.corporate-link{
    display: none;
}
/* Header Kurumsal Link Yönlendirmesi */
@media screen and (min-width: 1024px){
    .corporate-link {
        display:block;
        position: fixed;
        top: 233px;
        background: #10aac1;
        text-align: center;
        left: -55px;
        transform: rotate(-90deg);
        color: #fff;
        font-family: medium;
        a {
                width: 145px;
                display: block;
                padding: 10px;
        }
    }
}