.ems-page {
    background: $lGray;
    padding-top: 20px;

    &-home {
        padding-top:0px !important;
        .urnList .ems-prd-list-prop {
            display: none;
        }

        /*.urnList .product-empty .btnDefaultAlternate, .urnList .ems-prd-list{ display: none; }*/
    }

    &-corporate {
        #mesajGonder {
            .ems-page-default-info {
                .ems-field {

                    .geneltelefon,
                    .site_textarea {
                        width: 100% !important;
                    }

                    .site_textarea {
                        height: 100px;
                        resize: none;
                    }

                    &.msgCaptcha {
                        span[id$="lbfUYE_KONTROLKODU"] {
                            display: block;
                            margin-top: 15px;
                        }
                    }

                    &.button {
                        .btnMesajGonder {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:850px) {
    .ems-page {
        &-home {
            .ems-container-margin {
                margin-bottom: 30px;
            }

            .ems-container.order-2 .ems-prd-list {
                padding-bottom: 25px;
            }

            .anasayfa-single-slider {
                max-width: 1300px;
            }

            .anasayfa-single-slider:empty {
                display: none;
            }

            .container.kurban .head .head-img {
                padding-top: 10px;
                padding-bottom: 0;
            }

            #ajxUrunList .emosInfinite {
                padding-bottom: 30px
            }
        }
    }
}

.ems-container {
    &-widget-wrapper {
        padding: 30px 40px 30px 40px;
        max-width: 1300px;

        .btn-alternate {
            margin-top: 20px;
            max-width: 250px;
            background: $btnAlternateColor;
        }

        &.no-result {
            display: none;
        }
    }
}

.ems-special {
    width: 100%;
    max-width: 1175px;
    margin: 25px auto;

    &-title {
        display: block;
        text-align: center;
        font-family: $bold;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.ems-mixed-links {
    background: #f9f9f9;
    margin-bottom: 30px;

    &-inner {
        max-width: 980px;
        margin: 0 auto;
        width: 100%;
        padding: 25px 0 40px 0;

        >span {
            display: block;
            text-align: center;
            font-family: $bold;
            font-size: 30px;
            padding: 25px 0;
        }
    }

    &-wrapper {
        @include flex();
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        >ul {
            display: table-cell;
            vertical-align: top;
            list-style: unset;

            li {
                a {
                    display: block;
                    padding: 10px;
                    font-family: $medium;
                    color: #1a1718;
                }
            }
        }
    }
}

.ems-grid-banner {
    width: 100%;

    &-wrapper {
        display: table;
        width: 100%;

        &-box {
            display: table-cell;
            vertical-align: top;
            padding: 15px;

            >a {
                display: table;
                width: 100%;
                height: 100%;
                table-layout: fixed;
                overflow: hidden;

                &:hover {
                    .ems-grid-banner-cover {
                        @include setTransform(scale(1.1));
                    }
                }
            }
        }

        &-x1 {
            &-box- {
                width: 100%;
            }
        }

        &-x2-1 {
            &-box-1 {
                width: 66.666%;
            }

            &-box-2 {
                width: 33.333%;
            }
        }

        &-x2 {
            &-box {
                width: 50%;
            }
        }

        &-x3 {
            &-box {
                width: 33.333%;
            }
        }

        &-x4 {
            &-box {
                width: 25%;
            }
        }
    }

    &-alternate {
        .ems-grid-banner-cover {
            height: 550px;

            img {
                max-height: 550px;
            }
        }

        .ems-banners-text {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            @include flex();
            align-items: flex-start;
            @include flexDirection(column);
            justify-content: space-between;
            padding: 8%;

            >div * {
                color: #fff;
            }
        }

        .ems-grid-banner-title {
            max-width: 300px;
            max-height: inherit;
            overflow: hidden;
            position: relative;
            @include transition(all .3s ease);
            opacity: 0;
            transition-delay: .3s;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

            &:before {
                content: '';
                width: 50px;
                height: 0;
                background: $fdYellow;
                display: block;
                @include transition(height .3s ease);
                transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            span {
                font-size: 50px;
                font-size: calc(12px + 2vw);
            }
        }

        .ems-grid-banner-button {
            span {
                font-size: 15px;
            }

            i {
                top: 0;
                margin-left: 10px;
                @include transition(margin-left .3s ease);
                transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
                transition-delay: .3s;
            }

            i:before {
                color: #fff;
            }
        }

        .ems-grid-banner-wrapper-box {
            >a {
                position: relative;

                &:hover {
                    .ems-grid-banner-title {
                        opacity: 1;

                        &:before {
                            height: 4px;
                            transition-delay: .5s;
                        }
                    }

                    .ems-grid-banner-button {
                        i {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .ems-grid-banner-wrapper-box-center {
            .ems-grid-banner-title {
                &:before {
                    margin: 0 auto;
                }

                text-align: center;
                transform: translateY(-50%);
                top: 50%;
                max-width: 70%;
                margin: 0 auto;
                width: 70%;
            }
        }
    }

    &-alternate-2 {
        .ems-grid-banner-cover {
            height: 360px;

            img {
                max-height: 360px;
            }
        }
    }

    &-alternate-3 {
        .ems-banners-text {
            padding: 40px;
        }
    }

    &-hidden {
        overflow: hidden;
    }

    &-cover {
        background-size: cover !important;
        background-position: center center !important;
        position: relative;
        height: 290px;
        @include transition(all .3s);
        @include setTransform(scale(1));
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-delay: .3s;

        img {
            width: 100%;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
        }
    }

    &-bottom {
        text-align: left;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #d3d3d3;
        padding: 10px;

        >div {
            overflow: hidden;

            >span {
                display: block;
                padding: 10px;
            }
        }

        .ems-grid-banner-button {
            >span {
                display: inline-block;
                padding: 7px 10px;
            }
        }
    }

    &-title {
        max-height: 40px;

        span {
            color: #000;
            font-size: 25px;
            font-family: $bold;
        }
    }

    &-button {

        >span,
        i {
            display: inline-block;
            vertical-align: middle;
        }

        >span {
            color: #000;
            font-size: 15px;
            font-family: $bold;
            letter-spacing: 1px;
        }

        i {
            font-size: 11px;
            position: relative;
            top: 1px;

            &:before {
                font-size: 11px;
                color: #000;
            }
        }
    }
}

.ems-banners {
    width: 100%;
    display: table;

    &-box {
        display: inline-block;
        vertical-align: top;
        padding: 15px;
        overflow: hidden;

        a {
            display: block;
            background-size: cover !important;
            background-position: 50% 50% !important;
            height: 550px;
            position: relative;
            overflow: hidden;
            opacity: 0;
            @include setTransform(translateY(20px));

            >img {
                width: 100%;
                visibility: hidden;
                opacity: 0;
            }

            i.icon-ico_player {
                font-size: 58px;
                width: 58px;
                height: 58px;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                z-index: 1;
                margin: 0 auto;
                @include setTransform(translateY(-50%));

                &:before {
                    color: #fff;
                    font-size: 58px;
                }
            }
        }
    }

    &-box-video {
        >div a {
            i.icon-ico_player {
                display: inline-block;
            }
        }

        .ems-banners-text {
            display: none;
        }

        .videoWrap {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background:url(#{$baseHref + "/images/ajaxtabs/pageLoading.gif"}) center center no-repeat #fff;

            video {
                @include setTransform(translate(-50%, -50%));
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                background-size: cover !important;
            }
        }

        .cover {
            display: none;
        }
    }

    &-box-video-no {
        >div a {
            i.icon-ico_player {
                display: none;
            }
        }

        .videoWrap,
        .video-cover {
            display: none;
        }

        .cover,
        .ems-banners-text {
            display: block;
        }
    }

    &-overflow {
        overflow: hidden;
    }

    &-text {
        position: absolute;
        z-index: 1;

        >* {
            color: #fff;
        }

        >div * {
            font-family: $bold;
        }

        h2,
        h3 {
            margin: 0;
            font-weight: normal;
        }

        h2 {
            font-size: 50px;
            line-height: 50px;

            &:before {
                content: '';
                width: 50px;
                height: 4px;
                background: $fdYellow;
                display: block;
            }
        }

        h3 {
            margin-top: 20px;
            font-size: 15px;
            letter-spacing: 1px;
            font-family: $regular;
        }

        sub {
            bottom: 0;
            font-size: 50px;
        }

        .brn-link-btn {
            letter-spacing: 1px;
            display: inline-block;
            margin-top: 30px;

            i.icon-ico_arrow-right {
                margin-left: 15px;
                position: relative;
                top: -1px;
            }

            i.icon-ico_arrow-right,
            i.icon-ico_arrow-right:before {
                font-size: 11px;
            }
        }
    }

    &-type-1 {
        .ems-banners-box {
            &-col-1 {
                a {
                    @include transition(all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000));
                }

                width: 34%;

                .ems-banners-text {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    width: 85%;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    margin: 0 7.5%;

                    h2 {
                        &:before {
                            margin: 0 auto 0 auto;
                        }
                    }
                }
            }

            &-col-2 {
                width: 66%;

                a {
                    @include transition(all 1s cubic-bezier(0.250, 0.100, 0.250, 1.000));
                }

                .ems-banners-text {
                    bottom: 0;
                    left: 0;
                    width: 37%;
                    margin: 0 0 40px 40px;

                    h2 {
                        &:before {
                            margin: 0 auto 0 0;
                        }
                    }
                }
            }

            &-center {
                .ems-banners-text {
                    text-align: center;
                }
            }

            &-left {
                .ems-banners-text {
                    text-align: left;
                }
            }

            &-right {
                .ems-banners-text {
                    text-align: right;
                }
            }
        }
    }
}

.ems-pay-info {
    padding-top: 25px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 1090px;
    margin: $marginAuto;

    .step {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 15px 5px;
        text-align: center;

        i,
        i:before {
            font-size: 60px;
            width: 60px;
            height: 60px;
        }

        i:before {
            color: $coverBg;
        }

        p {
            font-size: 14px;
            color: $darkBlack;
            min-height: 30px;
            max-width: 70%;
            margin: 10px auto 0 auto;
            display: block;
        }

        &.step-4 {
            >div {
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 100%;
                border: 4px solid $coverBg;
                margin: 0 auto;
            }

            i {
                width: 35px;
                height: 35px;
                font-size: 35px;
                line-height: 56px;

                &:before {
                    font-size: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM) {
    .ems-container {
        &-widget-wrapper {
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;

            .btn-alternate {
                max-width: 220px;
            }
        }
    }

    .ems-page {
        @include flex();
        @include flexDirection(column);
        width: 100%;

        &-home {

            .ems-container.order-2,
            .ems-container.order-3 {
                background: #fff;
            }

            .ems-container.order-3 {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-corporate {
            #mesajGonder {
                .ems-page-default-info {
                    .ems-field {
                        &.button {
                            margin-left: 20px !important;
                            margin-right: 20px !important;
                        }
                    }
                }
            }

            .ems-col-full {
                .ems-page-content-2 {
                    padding-top: 0 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }

    .ems-pay-info {
        padding-top: 0;
        padding-bottom: 0;

        .step {
            width: 50%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;

            p {
                font-size: 12px;
            }

            i {
                width: 40px;
                height: 40px;
            }

            i,
            i:before {
                font-size: 40px;
            }

            &.step-4 {
                >div {
                    width: 40px;
                    height: 40px;
                    border-width: 3px;
                }

                i {
                    width: 23px;
                    height: 23px;
                    font-size: 23px;
                    line-height: 36px;

                    &:before {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 960px) {
 /*  Only Homepage Mobile Banners*/
    .homepage-banner-item {
        width: 94%;
        margin: 10px auto;
        position: relative;

        .mobile-banner-img {
            width: 100%;
        }

        .mobile-banner-text {
            position: absolute;
            left: 20px;
            top: 40px;
            color: #1e2432;
            font-size: 20px;
            width: 100%;
            font-family: 'medium';
        }

        a {
            position: absolute;
            left: 20px;
            bottom: 20px;
            padding: 10px;
            background: #fddb01;
            text-transform: uppercase;
            font-family: 'medium';
            font-size: 13px;
        }
    }
}