.minPpIframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


/* gallery zoom */
.zoom-gallery{width:100%;height:100%;margin-left:auto;margin-right:auto;position:fixed;overflow:hidden;z-index:1;top:0;left:0; display: none;}
.zoom-gallery *{direction: ltr;}
.zoom-gallery.gallery-ready{display: block;}
.zoom-gallery{ z-index: 100;background: #FFFFFF;display:none; }
.zoom-gallery .large-wrapper{position:absolute;width:100%;height:100%;top:0;z-index: 2;}
.zoom-gallery .close-btn{position:fixed;right:20px;top:20px;}
.zoom-gallery .close-btn span,
.zoom-gallery .thumbs-wrapper{display:none;}
.zoom-gallery .zoom-gallery-header{position:relative;z-index:3;}
.zoom-gallery .swiper-button-next{right:0; padding: 12px 0;}
.zoom-gallery .swiper-button-next span:before {color:#fff;}
.zoom-gallery .swiper-button-prev{left:0;right:initial; padding: 12px 0;}
.zoom-gallery .swiper-button-prev span:before {color:#fff;}

.popup_3donay .page-empty > .ems-container > div .btnDefaultAlternate{display:none;}