/*General Definations*/
$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1220px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull:100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);
$bold: "bold";
$regular: "regular";
$medium: "medium";
$tl:"tl";

/*Site Colors*/
$ffYellowL:#ffe000;
$fdYellow:#fddb01;
$btnColor: #07639e;
$btnAlternateColor:#10aac1;
$coverBg:#10aac1;
$edGray:#ededed;
$eGray:#eeeeee;
$lGray:#f3f5f9;
$wGray:#687083;
$lDark:#1e2432; 
$darkBlack:#3b4354;
$border:#e8eaf1;
$fbBtnColor:#304b92;
$inputborder:#f3f5f9;
$whiteBg:#fff;
$redColor:#e31227;
$cartbtn:#07639e;